<h1>About Bayou Builds</h1>

<hr>

<div class="row">
  <div class="col-md-6">
   <%= image_tag "tommy.jpeg", width: 250, alt: "Profile Image" %>
  </div>

  <div class="col-md-6">
     <p>More about us!</p>
  </div>
</div>