<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <%= image_tag "barstools.jpg" %>
      <h3>Barstools</h3>
      <span>RS:45K</span>
      <span class="pull-right">SKU:100022</span>
      <div class="offer">Extra 5% Off. Cart value Rs 500</div>
      <div class="detail">
      <p>Book in 300</p>
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <a href="#" class="btn btn-info">Book Now</a>
      <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <h3>Paris</h3>
      <span>RS:45K</span>
      <span class="pull-right">SKU:100022</span>
      <div class="offer">Extra 5% Off. Cart value Rs 500</div>
      <div class="detail">
      <p>Book in 300</p>
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <a href="#" class="btn btn-info">Book Now</a>
      <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <h3>Paris</h3>
      <span>RS:45K</span>
      <span class="pull-right">SKU:100022</span>
      <div class="offer">Extra 5% Off. Cart value Rs 500</div>
      <div class="detail">
      <p>Book in 300</p>
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <a href="#" class="btn btn-info">Book Now</a>
      <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <h3>Paris</h3>
      <span>RS:45K</span>
      <span class="pull-right">SKU:100022</span>
      <div class="offer">Extra 5% Off. Cart value Rs 500</div>
      <div class="detail">
      <p>Book in 300</p>
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <a href="#" class="btn btn-info">Book Now</a>
      <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <h3>Paris</h3>
      <span>RS:45K</span>
      <span class="pull-right">SKU:100022</span>
      <div class="offer">Extra 5% Off. Cart value Rs 500</div>
      <div class="detail">
      <p>Book in 300</p>
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <a href="#" class="btn btn-info">Book Now</a>
      <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <h3>Paris</h3>
      <span>RS:45K</span>
      <span class="pull-right">SKU:100022</span>
      <div class="offer">Extra 5% Off. Cart value Rs 500</div>
      <div class="detail">
      <p>Book in 300</p>
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <a href="#" class="btn btn-info">Book Now</a>
      <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <h3>Paris</h3>
      <span>RS:45K</span>
      <span class="pull-right">SKU:100022</span>
      <div class="offer">Extra 5% Off. Cart value Rs 500</div>
      <div class="detail">
      <p>Book in 300</p>
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <a href="#" class="btn btn-info">Book Now</a>
      <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="my-list">
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <h3>Paris</h3>
      <span>RS:45K</span>
      <span class="pull-right">SKU:100022</span>
      <div class="offer">Extra 5% Off. Cart value Rs 500</div>
      <div class="detail">
      <p>Book in 300</p>
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />
      <a href="#" class="btn btn-info">Book Now</a>
      <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
    </div>
  </div>